body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    top: 40%;
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

h2 {
    text-align: center;
    color: #42893b;
    text-transform: uppercase;
    font-size: 35px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 30%;
    left: 50%;
}

hr {
    margin:auto;
    width: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 43%;
    left: 50%;
}

.bg {
    background: url('../1.png') center top no-repeat;
    display: block;
    background-size: cover;
    height: 768px;
    width: 100%;
    position: relative;
}
input {
    background: rgba(255,255,255,0.4);
    border: none;
    display: block;
    outline: none;
    font-size: 63px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 0px;
    color: #8a9a9a;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 51%;
    left: 50%;
}

::-webkit-input-placeholder { color: #8a9a9a;} 
:-moz-placeholder { color: #8a9a9a; }
::-moz-placeholder { color: #8a9a9a; }
:-ms-input-placeholder { color: #8a9a9a; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}